.App {
  align-content: left;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}


.App-intro {
  font-size: large;
}

button, input {
  color: #48786A;
  background-color: white;
  border-style: dotted;
}
#root > div > div.ui.grid > div.ui.header.App-header {
  height: 80px;
  padding: 1em;
}

.addPlaceMenu {
  max-width: 25%;
  min-width: 25%;
}

#root > div > div.ui.grid > div.ui.card > div{
  min-height: 400px;
}

#root > div > div.DashboardWidgets {
  padding: 20px;
}