.App {
  text-align: left;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-intro {
  font-size: large;
}

button, input {
  color: #48786A;
  background-color: white;
  border-style: dotted;
}

